@model Practice.Models.SubjectModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubjectModel</h4>
    @helper Test(string a)
    {
        <h1>@a</h1>
    }
    @Html.TextBoxFor(m => m.SubjectName)
    @Test("Muzamil")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreaditHourse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreaditHourse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insturctor_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insturctor_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
